# CAPSULE CORP OS — ISOLINUX Boot Configuration
# Crystal Globe Pty Ltd | ABN 52 635 620 343

UI menu.c32
PROMPT 0
TIMEOUT 100
MENU TITLE  CapsuleCorpOS 1.0.0 "RUBY" — Crystal Globe Pty Ltd

LABEL live
  MENU LABEL Boot CapsuleCorpOS (Live)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live quiet splash ccos.mode=live ccos.commander=android23

LABEL live-safe
  MENU LABEL Boot CapsuleCorpOS (Safe Mode)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live nomodeset ccos.mode=live ccos.safemode=1

LABEL install
  MENU LABEL Install CapsuleCorpOS to Disk
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live ccos.mode=install ccos.commander=android23

LABEL memtest
  MENU LABEL Memory Test (memtest86+)
  KERNEL /boot/memtest86+

LABEL hdd
  MENU LABEL Boot from Hard Disk
  LOCALBOOT 0x80
